@import '../../../../styles/_variables';
@import '../../../../styles/_mixins';

header {
  width: 100%;
  background-color: $background-color;
  padding: 1rem 0;
  color: white;
  text-align: center;

  nav {
    display: flex;
    justify-content: center; 

    button {
        @include button-styles(#fff, $secondary-color);
        align-self: flex-end;
    }
  }

}
