<div class="task-item">
    <h3>{{ task.title }}</h3>
    <p *ngIf="task.description">{{ task.description }}</p>
    <p>{{ 'dueDate' | translate }}: {{ task.dueDate | date }}</p>
    <p>{{ 'status' | translate }}: {{ task.completed ? ('completed' | translate) : ('pending' | translate) }}</p>
  
    <button (click)="onToggleCompleted()">
        {{ task.completed ? ('markAsPending' | translate) : ('markAsCompleted' | translate) }}
    </button>
    <button (click)="onDelete()">{{ 'delete' | translate }}</button>
</div>
